div {
    width: 100px;
    height: 100px;
    background: #4A88F4;
    color: #fff;
    font-size: 30px;
}

.caja {
    position: relative;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 200px;
}